
[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Calibrate and bed level
    G29
    # Move the nozzle near the bed
    G1 Z5 F3000
    # Move the nozzle very close to the bed
    G1 Z0.15 F300
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}
    # Prime LINE
    PRIME_LINE

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Raise nozzle by 10mm
    G1 Z10 F3000
    G90
    # Disable steppers
    M84


[gcode_macro PRIME_LINE]
gcode: 
    # Reset Extruder    
    G92 E0
    G1 Z10 F240
    # Move the nozzle very close to the bed
    G1 X2 Y10 F3000
    G1 Z0.28 F240
    # Wait for bed to reach temperature
    #M190 S{bed_temp}
    # Set and wait for nozzle to reach temperature
    #M109 S{extruder_temp}
    G1 E10 F100 # load little filament
    # Reset Extruder
    G92 E0
    # Move Z Axis up
    G1 Z2.0 F5000
    # Move to start position
    G1 X2.1 Y20 Z0.28 F300
    # Draw the first line
    G1 X2.1 Y150 Z0.28 F1500 E15
    # Move to side a little
    G1 X2.4 Y150 Z0.28 F1500.0
    # Draw the second line
    G1 X2.4 Y20 Z0.28 F1500.0 E30
    # Reset Extruder
    G92 E0
    # Move Z Axis up
    G1 Z2.0 F300
    M117 Start Printing...
    
[gcode_macro PRESENT_PLATE]
gcode:
  {% set posy = printer.toolhead.axis_maximum.y|float %}
  {% set posx = 5.0 %}
  G0 X{posx} Y{posy} F3000

  
[gcode_macro G29]
gcode:
    BED_MESH_CALIBRATE

# F360 uses M420 to enable bed levelling, we'll treat it like G29.
[gcode_macro M420]
gcode:
    BED_MESH_CALIBRATE

[gcode_macro M600]
gcode:
  CHANGE_FILAMENT  

[gcode_macro M601]
gcode:
    CHANGE_FILAMENT

[gcode_macro CHANGE_FILAMENT]
gcode:
  {% set SPEED = params.RESUME_SPEED|default(80)|float %}
  M117 Change Filament
  PAUSE
  M117